@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fallthrough {
    100% {
        transform: translateY(100vh);
    }
}

.fall {
    animation-name: rotate, fallthrough;
    animation-duration: 1s, 1s;
    animation-iteration-count: infinite, 1;
    animation-direction: forwards, forwards;
    animation-timing-function: linear, linear;
    animation-composition: accumlate;
}
