@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

.passwordle {
    font-family: "Libre Franklin";
}

.passwordIcon {
    &:first-child {
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        border-left-width: 2px;
    }
    &:last-child {
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-right-width: 2px;
    }
}
